
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
.colegios {
    margin-top: 0;
    padding-top: 0;
} */
nav {
    padding-bottom: 0;
}
.box-experiencia {
/*     background-color: red; */
    display: grid;
    grid-template: "empty-izq info-iem nombre-experiencia" 160px /
                    10px      1fr           1fr              ;
    margin: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 5px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 5%;
}
.info-iem {
    grid-area: info-iem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.nombre-experiencia {
    grid-area: nombre-experiencia;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    /* background: linear-gradient(90deg, #606060 0%, #303030 92%); */
    /* background: linear-gradient(90deg, #606060 0%, #404040 17%); */
    /* background-color: rgb(80,80,80); */
    background: linear-gradient(120deg, #606060 5%, #404040 78%);
    color: white;
    height: 100%;
    /* background-color: red; */
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    /* font-family: tahoma, verdana; */
}
.nombre-iem {
    text-align: center;
    margin-top: 8px;
}
.img-escudo-experiencia {
    width: 100%;
}
/* .box-divisor {
    grid-area: box-divisor;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
} */

@media only screen and (min-width: 345px) {
    .box-experiencia {
        height: 100%;    
    }
    .img-escudo-experiencia {
        height: 125px;
    }
}
@media only screen and (min-width: 430px) {
    .box-experiencia {
        width: 410px;
        grid-template: "empty-izq info-iem nombre-experiencia" 180px /
                      10px      1fr           1fr              ;    
    }
    .img-escudo-experiencia {
        height: 150px;
    }
}
@media only screen and (min-width: 750px) {
    .listado-experiencias {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .box-experiencia {
        height: 200px;
        margin-top: 5px;
    }
    .info-iem {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .box-experiencia {
        width: 410px;
        grid-template: "empty-izq info-iem nombre-experiencia" 200px /
                      10px      1fr           1fr              ;    
    }
}